.icon-cart{
  position: relative;
  &__amount{
    padding: .05em .6em;
    border-radius: 1em;
    pointer-events: none;
    font-size: .7em;
    font-weight: 700;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transform: translate(34%, -45%);
    color: $white;
    background-color: $orange;
  }
  &--show{
    .icon-cart__amount{
      display: inline-block;
    }
    .icon-cart__img{
      filter: brightness(0);
    }
  }
}

// Desktop
@media (min-width: 1200px) {
  .icon-cart__img{
    cursor: pointer;
    transition: all .5s;
    &:hover{
      filter: brightness(0);
    }
  }
}