.lightbox-gallery{
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  opacity: 0;
  transition: opacity .5s;
  background-color: rgba(0, 0, 0, 0.75);
  &__container{
    width: 35%;
    min-height: 50%;
  }
  &--show{
    pointer-events: all;
    opacity: 1;
  }
}
.lightbox-icon{
  padding: 1em 0;
  display: flex;
  justify-content: flex-end;
  &__close{
    width: 1.4em;
    cursor: pointer;
    filter: brightness(0) invert(1);
    &:hover{
      filter: brightness(0) saturate(100%) 
      invert(57%) sepia(84%) saturate(2428%) 
      hue-rotate(347deg) brightness(102%) 
      contrast(103%);
    }
  }
}

.slider-container{
  position: relative;
  display: flex;
  align-items: center;
  &__btn{
    width: $btn-slider-size;
    height: $btn-slider-size;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    place-items: center;
    position: absolute;
    background-color: $white;
    &--prev{
      left: 0;
      transform: translateX(-50%);
    }
    &--next{
      right: 0;
      transform: translateX(50%);
    }
    &:hover{
      img{
        filter: brightness(0) saturate(100%) 
        invert(57%) sepia(84%) saturate(2428%) 
        hue-rotate(347deg) brightness(102%) 
        contrast(103%);
      }
    }
  }
}

.slider-content{
  overflow: hidden;
  border-radius: .8em;
}
.slider-images{
  display: grid;
  transition: transform .7s;
  grid-template-columns: repeat(4, 100%);
  &__item{
    width: 100%;
  }
}


.gallery-thumbnails{
  padding: 0 2em;
  margin-top: 2em;
  display: grid;
  column-gap: 1.5em;
  grid-template-columns: repeat(4, 1fr);
  &__item{
    width: 100%;
    border-radius: .5em;
    display: block;
    position: relative;
    transition: opacity .5s;
  }
  &__cover{
    position: relative;
    cursor: pointer;
    &::before{
      content: '';
      width: 100%;
      height: 100%;
      border-radius: .5em;
      outline: .18em solid $orange;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity .5s;
      background-color: $white;
    }
    &::after{
      content: '';
      width: 100%;
      height: 100%;
      border-radius: .5em;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -2;
      transition: opacity .5s;
      background-color: $white;
    }
    &--actived{  
      .gallery-thumbnails__item{
        opacity: .5;
      }
      &::before{
        opacity: 1;
      }
    }
    &:hover{
      .gallery-thumbnails__item{
        opacity: .6;
      }
      &::after{
        opacity: 1;
      }
    }
  }
}